section {
    margin-bottom: 80px;
}

.section {
    padding-top: 6px;
    color: #818181;
    border-top: 1px solid #757575;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cv__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 105%;
    letter-spacing: 0.1em;
    padding-left: 6px;
}

.section__text {
    padding-left: 36px;
    width: 900px;
    color: #2c2c2c;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
}
.section__text-decoration {
    font-weight: 400;
}